
.red{
    background: red;
  }

  .blue{
    background: blue;
  }

  .light-brown{
    background: burlywood;
  }

  .orange{
    background: orange;
  }

  .brown{
    background: brown;
  }

  .green{
    background: green;
  }